@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
:root{
    --color-AzulOscuro: #0A3871;
}

.logo{
    width: 7.5rem;
    height:3rem;
    margin-top: 20px;
    margin-left: 20px;
}

.contenido{
    display: flex;
    justify-content: space-between;
}
.contenido_texto_encriptado{
    margin-left: 9rem;
    margin-top: 1.5rem;

}
.contenido_encriptar{
    font-size: 2em;
    color: var(--color-AzulOscuro);
    width: 650px;
    height: 350px;
    outline: none;
    resize: none;
    border: none;
    text-transform: lowercase;
}
.contenido_mensaje_alerta{
    width: 310px;
    height: 45px;
    padding-top: 2px;
    margin-left: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 8px;
    color: #495057;
    padding-top: 1px;
}
.contenido_img_alerta{
    width: 16px;
    height: 16px;
}
.contenido_botones{
    width: 650px;
    height: 67px;
    margin: 0 129px 7px 0;
    display: flex;
    justify-content: space-between;
    
}
.boton_encriptar{
    width: 315px;
    height: 67px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 400;
    color:white ;
    background-color: var(--color-AzulOscuro);
    border: none;
}
.boton_encriptar:hover{
    background-color: #144b8f;
}
.boton_desencriptar{
    width: 315px;
    height: 67px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 400;
    color: var(--color-AzulOscuro);
    background-color: #F3F5FC;
    border: var(--color-AzulOscuro) 1.5px solid;
}
.boton_desencriptar:hover{
    background-color: #d3d5df;
}

/* Asaide - Con imagen. */

.contenido_texto_desencriptado{
    width: 360px;
    height: 480px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    margin-top: 1.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.1) ;
    gap: 8px;
}
.Muñeco{
    width: 13.125rem;
    height: 12.75rem;
    margin-top: 8.125rem;
   
}
.contenido_texto_desencriptado_textos{
    width: 230px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: white;
    
}
.contenido_texto_desencriptado_textos h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    background-color: white;
}
.contenido_texto_desencriptado_textos p{
    font-size: 12px;
    font-weight: 400;
    width: 218px;
    margin-top: 5px;
    margin-left: 5px;
    color: #495057;
    background-color: white;
    
}

/* Aside - Activo sin imagen. */
.texto_encriptado_activo{
    width: 230px;
    height: 380px;
    margin-top: 10px;
    display: none;
    background-color: white;
}
.contenido_encriptado{
    font-size: 24px;
    color: var(--color-AzulOscuro);
    width: 228px;
    background-color: white;
    height: auto;
    resize: none;
    outline: none;
    border: none;    
}
.boton_copiar{
    width: 210px;
    height: 67px;
    margin-top: 0px;
    margin-left: 8px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: var(--color-AzulOscuro);
    background-color: white;
    font-size: 1rem;
    font-weight: 400;
    border:var(--color-AzulOscuro) 1.5px solid;
    display: none;
}
.boton_copiar:hover{
    background-color: rgb(218, 210, 210);
}

footer{
    
    text-align: center;
    width: 50%;
    margin-left: 13rem;
    margin-top: 1.5rem;
}
footer p{
    font-size: 12px;
    
}

/* Diseño para Tablets.*/

@media (min-width:481px) and (max-width:780px){
    
    .logo{
        width: 5.3125rem;
        height: 2.1875rem;
        margin-top: 0.625rem;
        margin-left: -0.9375px;
    }
    .contenido{
        display: block;
        justify-content: none;
        height: 100%;
    }
    .contenido_texto_encriptado{
        margin-top: 1.25rem;
        margin-left: 0.9375rem;
        margin-right: 1.6rem;
        width: auto;
        
    }
    .contenido_encriptar{
        font-size: 2em;
        color: var(--color-AzulOscuro);
        width: 94%;
        height: 40.20rem;
        margin-left: 1.25rem;
        margin-top: 1rem;
        outline: none;
        resize: none;
        text-transform: lowercase;
    }


    .contenido_mensaje_alerta{   
        width: auto;
        height: 2.8125rem;
        padding-top: 0.125rem;
        margin-left: 0;
        margin-bottom: 0;
        font-weight: 400;
        color: #495057;
        padding-top: 1px;
    }
    .contenido_img_alerta{
        width: 0.8125rem;
        height: 0.8125rem;
        margin: 0.0625rem 0 0 1.25rem;
    }
    .contenido_mensaje_alerta h6{
        font-size: 0.875rem;
        margin: 0 0 0.125rem -0.1875;
    }
    .contenido_botones{
        width: 100%;
        height: 4.1875rem;
        margin: 0 129px 7px 0;
        display: flex;
        justify-content: space-around;
    }
    .boton_encriptar{
        width: 45%;
        border-radius: 25px;
        font-size: 1em;
        font-weight: 400;
        color:white ;
        background-color: var(--color-AzulOscuro);
        border: none;
    }
    .boton_desencriptar{
        width: 45%;
        border-radius: 25px;
        font-size: 1em;
        font-weight: 400;
        color: var(--color-AzulOscuro);
        background-color: #F3F5FC;
        border: var(--color-AzulOscuro) 1.5px solid;
    }
    .boton_encriptar:hover{
        background-color: #0A3871;
    }
    .boton_desencriptar:hover{
        background-color: #F3F5FC;
    }


    /* Asaide - Con imagen. */
    .contenido_texto_desencriptado{
        width: 94%;
        height: auto;   
        margin: 1.5rem 1.6rem 1rem 0.9375rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 25px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.1) ;
        gap: 8px;
    }
    .Muñeco{
        display: none;
    }

    .contenido_texto_desencriptado_textos{
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        height: 5.625rem;
    }
    .contenido_texto_desencriptado_textos h2{
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 0.5rem;
        background-color: white;
    }
    .contenido_texto_desencriptado_textos p{
        font-size: 0.75em;
        font-weight: 400;
        width: auto;
        margin-top: 0.3125rem;
        margin-left: 0.3125rem;
        color: #495057;
        background-color: white;
    }

    /* Aside - Activo sin imagen. */
    .texto_encriptado_activo{
        width: 230px;
        height: 352px;
        margin-top: 10px;
        display: none;
        width: 94%;
    }
    .contenido_encriptado{
        font-size: 24px;
        color: var(--color-AzulOscuro);
        width: 100%;
        height: 28.75rem;
        background-color: white;
        height: auto;
        border: none;
        resize: none;
        outline: none;
    
    }
    .boton_copiar{
        width: 95%;
        height: 4.1875rem;
        margin: 0.625rem 0.3125rem 1.25rem 0.3125rem;
        border-radius: 25px;
        color: var(--color-AzulOscuro);
        background-color: white;
        font-size: 1rem;
        font-weight: 400;
        border:var(--color-AzulOscuro) 1.5px solid;
        display: none;
    }
    .boton_copiar:hover{
        background-color: white;
    }

    footer{
        width: 80%;
        margin-top: 1.5rem;
        margin-left: 70px;
    }
    footer p{
        font-size: 12px;
    }

}


/* Diseño para Celulares. */
@media (min-width:120px) and (max-width:480px){

    .logo{
        width: 75px;
        height: 30px;
        margin-top: 0.625rem;
        margin-left: -0.9375px;
    }
    .contenido{
        display: block;
        justify-content: none;
        height: 100%;
    }
    .contenido_texto_encriptado{
        margin-top: 1px;
        margin-left: 3px;
        margin-right: 1.6rem;
        width: auto;
    }
    .contenido_encriptar{
        font-size: 2em;
        color: var(--color-AzulOscuro);
        width: 94%;
        height: 250px;
        margin-left: 1.25rem;
        margin-top: 1rem;
        outline: none;
        resize: none;
        text-transform: lowercase;
        border: none;
    }


    .contenido_mensaje_alerta{   
        width: auto;
        height: 2.8125rem;
        padding-top: 0.125rem;
        margin-left: 0;
        margin-bottom: 0;
        font-weight: 400;
        color: #495057;
        padding-top: 1px;
    }
    .contenido_img_alerta{
        width: 0.8125rem;
        height: 0.8125rem;
        margin: 0.0625rem 0 0 1.25rem;
    }
    .contenido_mensaje_alerta h6{
        font-size: 0.875rem;
        margin: 0 0 0.125rem -0.1875rem;
    }
    .contenido_botones{
        width:  95%;
        height: 120px;
        margin: 0 129px 7px 15px;
        display: block;
    }
    .boton_encriptar{
        width: 100%;
        height: 45%;
        margin-bottom: 15px;
        border-radius: 25px;
        font-size: 1em;
        font-weight: 400;
        color:white ;
        background-color: var(--color-AzulOscuro);
        border: none;
    }
    .boton_desencriptar{
        width: 100%;
        height: 45%;
        border-radius: 25px;
        font-size: 1em;
        font-weight: 400;
        color: var(--color-AzulOscuro);
        background-color: #F3F5FC;
        border: var(--color-AzulOscuro) 1.5px solid;
    }
    .boton_encriptar:hover{
        background-color: #0A3871;
    }
    .boton_desencriptar:hover{
        background-color: #F3F5FC;
    }


    /* Asaide - Con imagen. */
    .contenido_texto_desencriptado{
        width: 94%;
        height: auto;   
        margin: 1.5rem 1.6rem 1rem 0.9375rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 25px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.1) ;
        gap: 8px;
    }
    .Muñeco{
        display: none;
    }

    .contenido_texto_desencriptado_textos{
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        height: 5.625rem;
    }
    .contenido_texto_desencriptado_textos h2{
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 0.5rem;
        background-color: white;
    }
    .contenido_texto_desencriptado_textos p{
        font-size: 0.75em;
        font-weight: 400;
        width: auto;
        margin-top: 0.3125rem;
        margin-left: 0.3125rem;
        color: #495057;
        background-color: white;
    }

    /* Aside - Activo sin imagen. */
    .texto_encriptado_activo{
        width: 230px;
        height: 250px;
        margin-top: 10px;
        display: none;
        width: 94%;
    }
    .contenido_encriptado{
        font-size: 24px;
        color: var(--color-AzulOscuro);
        width: 100%;
        background-color: white;
        height: auto;
        border: none;
        resize: none;
        outline: none;
    
    }
    .boton_copiar{
        width: 95%;
        height: 4.1875rem;
        margin: 0.625rem 0.3125rem 1.25rem 0.3125rem;
        border-radius: 25px;
        color: var(--color-AzulOscuro);
        background-color: white;
        font-size: 1rem;
        font-weight: 400;
        border:var(--color-AzulOscuro) 1.5px solid;
        display: none;
    }
    .boton_copiar:hover{
        background-color: white;
    }
    footer{
        width: 90%;
        margin-top: 1.5rem;
        margin-left: 20px;
    }
    footer p{
        font-size: 12px;
    }

}